<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="incss.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="body">
  <div id="log"><p>{{ your_name }}</p></div>
  <div id="main">
  <center>
    <div><table width="310" border="1">
      <tr>
        <td width="59">{{ id }}</td>
        <td width="99" align="center" valign="middle">{{ name }}</td>
        <td width="130">{{ country }}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></div>
    </center>
    <div id="left">此处显示  id "left" 的内容</div>
    <div id="right">此处显示  id "right" 的内容</div>
  </div>
  <div id="botton">此处显示  id "botton" 的内容</div>
</div>
</body>
</html>
