<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>下 载</title>
<link href="css/divcss.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
    <div id="top-show">  	
      <div id="logmake"><img src="images/Logo.gif" width="88" height="31" /></div>
      <div id="top-left">
	<a href="index">首页</a>&nbsp;|
	<a href="download">下载</a>&nbsp;|
	<a href="uploadfile">上传文件</a>&nbsp;|
	<a href="">在线应用</a>&nbsp;|
      </div>
      <div id="top-right">
	<a href="admin">管理员登录</a>&nbsp;|
	<a href="register" >注册</a>&nbsp;| 
      </div>
    </div>


    <div id="top">  
    <strong>&nbsp;</strong>
     <hr />
	<div id="left-main"><strong>下载内容:</strong></div>      
	<div id="right-main">     
	  {% for downfile in downfiles %}	    
	      <a href="download/{{ downfile }}"> {{ downfile }} </a>
	      <p></p>	    
	  {% endfor %}  	
	</div>
    </div>
</div>
</body>
</html>
