* {
}
body {
	font-family: "宋体";
	font-size: 12px;
	padding-right: 20px;
	padding-left: 20px;
}
#top {
	font-family: "宋体";
	font-size: 24px;
	text-align: center;
	clear: both;
	padding-top: 20px;
}
#top-show {
	font-size: 12px;
	margin-top: 30px;
}
#top-show a {

}
#left-main {
	width: 15%;
	float: left;
	padding-right: 10px;
	padding-left: 20px;
	font-size: 18px;
}
#right-main {
	float: left;
	font-family: "宋体";
	font-size: 13px;
	text-align: left;
	width: 70%;
	background-color: #CCF;
	padding-left: 70px;
}
#top-right {
	float: right;
	margin-top: 15px;
}
#top-left {
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
#logmake {
	float: left;
}
